<div class='container'>

    <h2> Agregar un comentario del restaurant <%= @restaurant.name %> </h2>
    <div class='form-group'>
        
        <%= simple_form_for [@restaurant, @review] do |form|  %>
            <%= form.label :Review, class: 'form-label'  %>
            <%= form.text_area :content, label: 'Deja tu comentario', class: 'form-control'  %>
            <%= form.submit %>

        <% end %>
    </div>
</div>